.container{
    padding-bottom: 70px;
    display: flex;
    align-items: left;
    justify-content: left;
}
.container section{
    width: min(700px,calc(100vw - 10px));
    margin: 5px;
}

.container section details summary:active{
    transition: 4.0s all linear;

}
.container section details summary{
    padding: 15px;
    background: #ff0;
    color: #000;
    border: 1px solid #444;
    position: relative;
    list-style: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;


}

.container section details p{
    font-size: 15px;
    padding: 10px;
    color:#444;
    background: #e6ffff;

}
.container section details summary::after{
    content: '+';
    position: absolute;
    top: 10px; right: 15px;
    font-size: 30px;
    color: #000;
    transition: .2s linear;
    
}
.container section details[open] summary::after{
    transform: rotate(135deg);
}

.container section details[open] summary{
    background: #ff0;
}
@media(min-width:991px){
    .container section details[open] summary{
        background: #8F845D;
    }
    .container section details summary{
        background: #8F845D;
    }
}