header {
    position : sticky;
    top: 0;
    width:  100vh;
    background: #FFFF00;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);  
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

  }
  header a{
    text-decoration: none;
  }

  header .logo {
    font-weight: bolder;
    font-size: 2.5em;
    color: #333;
  }
  
  header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #FFFF00;
    border-top: 1px solid rgba(0,0,0,.1);
    display: none;
  }

  header .navbar ul{
    list-style: none;
  
  }
  header .navbar ul li{
    position: relative;
    float: left;
    width: 100%;
  }
  header .navbar ul li a{
    font-size: 2em ;
    padding: 20px;
    color: #333;
    display: block;
  }
  header .navbar ul li a i{
    font-size: 0.75em ;
  }
  header .navbar ul li a:hover{
    background: #333;
    color: #fff;
  }
  #menu-bar {
    display : none;
  }
  header label {
    font-size: 2em;
    color:#333;
    cursor: pointer;
    display : initial;
  }
  #menu-bar:checked ~ .navbar{
    display:initial;
  }
  header br{
      display: none;
  }
  /* @media(min-width:1px){ */
  @media(min-width:991px){
    header{
      background: #604E37;
      padding: 0px 1%;
    }
    header label {
      display: none;
    }
    header .navbar{
      all: unset;
    }
    header .navbar ul li{
      width: unset;
    }

    header .navbar ul li a{
      color: #ffffff;
      padding: 10px;
    }
    
    header .logo {
      color: #ffffff;
    }

    #menu-bar:checked ~ .navbar{
      display:unset;
    }
    header br{
      display: unset;
  }

  }
