:root{
  --mainYellow : #ffff00;
  --secondaryYellow : #adad28;
}
* {
margin: 0; padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
  
  color:#fff;
  background: #000;
}

a {
  text-decoration: none;
  color: inherit

}




main {
  display: flex;
  justify-content: space-between;
}

#polygon {
  flex-basis: 20%;
  min-height: 90vh;
  box-sizing: border-box;
  background: #ffff00;
  clip-path: polygon(0% 0%, 100% 0%, 50% 30%, 20% 35%, 30% 45%, 15% 60%, 0% 100%);
  float: left;
  overflow: hidden;
  flex: 1;
}

#body {
  flex-basis: 80%;
  box-sizing: border-box;
}

@media(min-width:991px){
  #polygon {
    all:  unset;
  }
  #body {
    flex-basis: 100%;
  }
}